<p id="notice"><%= notice %></p>

<p>
  <strong>Image data:</strong>
  <%= @photo.image_data %>
</p>

<%= image_tag @photo.image.url(public: true) %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
